REACT_APP_COGNITO_USER_POOL_ID=your-user-pool-id
REACT_APP_COGNITO_CLIENT_ID=your-client-id
REACT_APP_COGNITO_DOMAIN=https://your-custom-domain.com
REACT_APP_API_URL=http://localhost:4000/v2
REACT_APP_TOTP_ISSUER=YourAppName